html {
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    line-height: 18px;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 1080px;
    font-size: 14px;
    color: #36495a;
    line-height: inherit;
    position: relative;
    margin: 0;
    background: #e8ebed;
}

::placeholder {
    color: #5d5d5d;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.heading1 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 20px 0 0;
}

.heading2 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 5px 10px 0;
}

.heading3 {
    font-size: 22px;
    font-weight: 200;
    margin: 10px 5px 10px 0;
}

.heading4 {
    font-size: 26px;
    margin: 0 0 20px 0;
}

a {
    transition: all .3s;
    color: #00529c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: none;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

button {
    transition: all .3s;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 3px;
    background-color: #3498db;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #5db2ea;
}

button:active {
    transition: none;
    box-shadow: #00000038 0 2px 4px 0 inset;
}

button,
button:hover,
button:active,
button:focus {
    border: none;
    outline: none;
}

input,
select,
textarea {
    box-sizing: border-box;
    transition: all .3s;
    border-radius: 2px;
    border: 1px solid #979797;
    outline: none;
    padding-left: 10px;
}

input:hover,
select:hover {
    outline: none;
    box-shadow: #3498db38 0 2px 6px 0;
}

input:active,
select:active {
    outline: none;
}

input[type="date" i] {
    font-family: inherit;
    cursor: pointer;
    padding: 3px 0 3px 10px!important;
}

header {
    height: 121px;
    position: relative;
    background: white;
}

header .container {
    max-width: 1090px;
}

header .menu-utility {
    float: right;
}

.top {
    background: #d0dae0;
    height: 35px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.top button {
    padding: 4px 8px;
}

.top .header-contacts {
    margin-top: 4px;
}

.user-info {
    float: right;
    padding: 5px;
}

.user-info a {
    margin: 0 15px 0 0;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

.header-button-left {
    left: 34%;
}

.header-button-middle {
    left: 51%;
}

.header-button-right {
    left: 75%;
}

.field {
    padding: 0 15px 0 15px;
    margin: 10px 0 10px 0;
}

.field p {
    margin: 5px 0 5px 0;
}

.field input {
    height: 30px;
}

.field select {
    height: 30px;
}

.menu {
    width: 100%;
}

#main-search input {
    width: 100%;
    height: 35px;
    padding: 8px;
    font: 16px Roboto, sans-serif;
}

#main-search button {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    font-size: 18px;
}

.searching-form {
    width: 280px;
    height: 230px;
    border: 1px solid rgb(190,190,190);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    position: absolute;
    margin: -20px 30px;
}

.searching-form input, .searching-form button {
    min-width: 105px;
    min-height: 30px;
}

.main-content {
    min-height: 300px;
    padding: 40px;
    background: white;
}

.main-text {
    position: absolute;
    width: 450px;
    margin: 280px 0 0 560px;
    background-color: #ffffff;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.main-text p {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-image img {
    width: 1090px;
    margin-left: -40px;
}

.boxShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.boxShadow1 {
    box-shadow: 0 2px 3px rgba(42,44,53,.25);
}

.rowing-left {
    float: left;
}

.rowing-right {
    float: right;
}

.rowing-center {
    margin-left: auto;
    margin-right: auto;
}

.login-form, .registration-form {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-width: 1px;
    border-color: rgb(190,190,190);
    border-radius: 5px;
    border-style: solid;
    padding: 15px;
    margin-bottom: 20px;
}

.login-form input, .registration-form input {
    width: 300px;
    height: 35px;
    margin: 10px;
    padding: 0 10px;
}

.registration-form h3, .registration-form p {
    margin: 10px;
}

.registration-form {
    text-align: center;
}

.login-form button, .registration-form button {
    width: 300px;
    height: 35px;
    margin: 10px;
}

.login-block h1, .registration-block h1 {
    text-align: center;
}

#navigation #menu {
    position: relative;
}

.clear::after {
    content: "";
    clear:both;
    display: table;
}

.clear {
    clear:both;
}

footer {
    background-color: #292B31 !important;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: solid 3px rgba(255, 255, 255, .3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2) !important;
    box-shadow: inset 0 10px 15px rgba(0, 0, 0, .2);
}

footer hr {
    border: 1px solid rgba(0, 0, 0, .15);
    border-bottom: solid 1px rgba(255, 255, 255 , .1);
    margin: 10px 0;
}

footer .container {
    max-width: 950px;
}

footer h3 {
    margin-bottom: 5px;
    color: #737981;
    text-transform: uppercase;
}

footer ul {
    padding-inline-start: inherit;
    margin-top: 10px;
}

.footer-block {
    width: 200px;
}

.footer-info {
    height: 180px;
}

.footer-info a {
    line-height: 20px;
    color: #e9ebee;
}

#social-media a {
    margin-right: 5px;
}

.payment-systems img {
    opacity: 0.8;
    filter: grayscale(40%);
}

.payment-systems #visa-footer {
    margin-top: 15px;
}

.payment-systems #mastercard-footer {
    margin-top: 10px;
}

#copyright {
    color: #737981;
}

#copyright p {
    margin: 4px 0;
}

.error-page-block {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 590px;
}

.message {
    margin: 20px 10px;
    font-size: 16px;
    font-style: italic;
}

.data-error {
    margin: 20px 10px;
    font-size: 16px;
    color: red;
}

.error-message {
    text-align: center;
    color: red;
}

.error-message2 {
    margin: 0 0 5px 20px;
    color: red;
}

#localization {
    display: inline-flex;
}

#localization form {
    padding-left: 5px;
}

#searching-form-title {
    font-size: 20px;
    font-weight: 600;
}

.logo {
    margin-left: 40px;
}

#user-logo {
    width: 100px;
    height: 100px;
    background-color: #90bf90;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-weight: 600;
    color: #e2ffe2;
    margin-right: 30px;
}

.info-login-block {
    text-align: center;
    margin: 40px;
}

.info-registration-block {
    text-align: center;
    margin: 20px;
    font-size: 16px;
}

.features {
    text-align: justify;
    margin: 20px 0;
}

.features:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}

.features:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.feature {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.feature p {
    font-size: 16px;
}

.feature-title {
    height: 25px;
    line-height: 25px;
}

.feature-info {
    height: 90px;
}

#user-menu-content {
    margin: 20px 0;
    min-height: 320px;
}

#user-menu-content p,
#user-menu-content h2,
#user-menu-content h3 {
    margin-left: 20px;
}

#user-menu-content .user-login,
#user-menu-content .user-change-password,
#user-menu-content .personal-data {
    margin: 20px 0;
}

#stack-trace {
    font-size: 0.9em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:first-child {
    background-color: #efefef;
}

tr:hover {
    background-color:#f5f5f5;
}

.user-data {
    margin-top: 50px;
}

.bankcard {
    margin: 10px 0 10px 0;
    padding: 0 20px 0 0;
    border: 1px solid #c2dcf3;
    border-radius: 3px;
    background: aliceblue;
    display: flex;
}

.bankcard form {
    display: flex;
}

.bankcard-image,
.bankcard-number {
    display: flex;
}

.bankcard-number {
    margin-left: 20px;
}

.bankcard-number p,
.bankcard-image img {
    margin: auto;
}

.bankcard-delete {
    margin-right: 25px;
}

.bankcard-delete button {
    height: 100%;
    border-radius: 3px 1px 1px 3px!important;
    background-color: #b8cee2!important;
    border-width: 0!important;
}

.bankcard-delete button:hover {
    background-color: rgba(237, 31, 36, 0.7)!important;
}

.car {
    border: 1px solid #c2dcf3;
    border-radius: 5px;
    margin: 20px 0;
    padding: 0 30px;
    background-color: #b1b1b124;
}

.car-title {
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}

.car-desc:hover .car-title {
    color: #000098ed;
    text-decoration: underline;
}

.car .car-image img {
    max-width: 200px;
    max-height: 150px;
}

.car-image {
    margin: 20px 0 15px 0;
}

.car-desc {
    width: 400px;
    margin: 20px 10px 0 40px;
    color: #36495a;
}

.car-desc p {
    margin: 5px 0;
}

.link a {
    display: block;
}

.header-contacts p {
    margin: 5px 30px 5px 0;
}

.new-order {
    background-color: #9de0448c;
    border-color: #f1f1f1;
}

.expired-order {
    background-color: #f080808c;
    border-color: #f1f1f1;
}

.small-car-img {
    width: 122px;
}

#main-car-image {
    width: 498px;
}

#car-information {
    width: 430px;
}

#car-information h1 {
    margin-top: 0;
    text-align: center;
}

#car-information .discount {
    margin-left: 10px;
    font-weight: 200;
    color: #5d5d5d;
}

#total-price {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #676767;
}

#total-price p {
    margin: 15px 0 10px 0;
}

#car-images {
    width: 500px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#car-details {
    margin: 30px 0 30px 0;
}

#car-price {
    font-size: 30px;
    text-align: center;
}

.car-info {
    margin: 30px 0;
}

.car-features {
    padding-left: 0;
    list-style: none;
}

.car-features li {
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    border-left: 10px solid;
}

.car-features li:nth-child(1){border-color: #8bc63e;}
.car-features li:nth-child(2){border-color: #fcba30;}
.car-features li:nth-child(3){border-color: #1ccfc9;}
.car-features li:nth-child(4){border-color: #493224;}
.car-features li:nth-child(5){border-color: #f05d22;}
.car-features li:nth-child(6){border-color: #8bc63e;}

.quick-order {
    display: flex;
    padding-left: 30px;
    margin: 20px 0;
    border-left: 1px solid #dddddd;
    min-height: 150px;
    width: 200px;
}

.quick-order .quick-order-content {
    margin: auto;
    text-align: center;
}

.quick-order label {
    text-align: center;
    font-size: 22px;
}

.quick-order button, .quick-order input {
    width: 100%;
    height: 35px;
}

.quick-order button {
    margin-top: 15px;
}

.quick-order input {
    margin-top: 15px;
    padding-left: 10px;
}

.user-details {
    margin-top: 10px;
    margin-left: 20px;
}

.data-labels {
    min-width: 130px;
    margin-right: 10px;
}

.data-labels,
.user-data-fields {
    margin: 10px 0;
}

.user-data-fields {
    width: 300px;
}

.data-labels p {
    margin: 0;
    padding: 5px 10px 5px 0;
}

.user-data-fields input,
.user-data-fields select {
    padding: 5px;
    margin-right: 5px;
    width: 100%;
    float: left;
}

.data-field {
    height: 32px;
    padding: 0;
}

.edit-button {
    color: #313131;
    background-color: aliceblue;
    border: 1px solid #cee3f5!important;
    border-radius: 2px!important;
    font-weight: 500;
    cursor: pointer;
    text-transform: none;
    padding: 3px 6px;
    min-width: 100px;
    margin: 0 10px 5px 0;
}

#user-menu-content .edit-button {
    margin-left: 20px;
}

.edit-button:hover {
    color: #313131!important;
    background-color: #e7f3fd!important;
    border: 1px solid #cee3f5!important;
}

.confirm-button {
    font-weight: 600!important;
}

#available-date  {
    margin-top: 5px;
    color: #5d5d5d;
    font-weight: 200;
}

#registration-date {
    margin: -10px 0 6px 10px;
    font-size: 13px;
    color: #5d5d5d;
}

.update-error,
.incorrect-data-error {
    color: red;
    margin: 5px 0;
}

#front-side-bankcard,
#back-side-bankcard {
    float: left;
    margin: 0 10px 15px 10px;
    padding: 45px 19px 0 19px;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 0 #b9b9b9;
}

#front-side-bankcard {
    float: left;
}

#front-side-bankcard input,
#back-side-bankcard input {
    height: 35px;
    padding: 5px 8px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
}

#bankcard-number {
    float: left;
    width: 190px;
    margin-bottom: 15px;
}

#bankcard-number input {
    width: 186px;
}

#bankcard-valid-true {
    float: right;
    margin-bottom: 15px;
    text-align: center;
}

#bankcard-valid-true input {
    width: 44px;
    text-align: center;
}

#bankcard-valid-true input:first-of-type {
    margin-left: 8px;
}

#bankcard-owner input {
    width: 148px;
}

#bankcard-cvv {
    margin-top: 10px;
    float: right;
}

#bankcard-cvv input {
    width: 47px;
}

#bankcard-strip {
    width: 338px;
    height: 50px;
    background-color: #b9b9b9;
    margin-top: -10px;
    margin-left: -19px;
}

#add-bankcard-button {
    margin: 0 15px;
}

#add-bankcard-button button {
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 200px;
    margin-right: 10px;
}

.skip-button,
.cancel-button {
    background-color: #f2f2f2;
    color: #6b6b6b;
    font-weight: 300;
    border-color: #f2f2f2!important;
}

.skip-button:hover,
.cancel-button:hover {
    background-color: #e6e6e6;
    color: #2f2f2f;
}

#add-bankcard-button p {
    padding: 0;
    margin: 0 0 5px 0;
}

.link-add-bankcard {
    color: #2e9cc3;
    font-size: 16px;
    font-weight: 600;
}

.link-add-bankcard a:hover {
    text-decoration: none;
}

.data-updated {
    color: green;
    margin: 5px 0 0 0;
}

.login-updated {
    text-align: center;
}

.user-menu-tab {
    margin-top: 8px;
}

.user-menu-tab a {
    padding: 10px 20px;
    color: #36495a;
    text-decoration: none;
}

.user-menu-tab a:hover {
    box-shadow:0 -5px 0 #5b8db9 inset;
    background-color: #f0f8ffa1;
}

#user-menu {
    height: 35px;
    font-size: 16px;
    border-bottom: 1px solid #ccc!important;;
}

.admin-tab a {
    background-color: #ed5464b3;
    color: white;
}

.admin-tab a:hover {
    background-color: #ee6371;
    box-shadow: 0 -5px 0 #096363 inset!important;
}

.admin-tab.selected-tab a {
    box-shadow: 0 -4px 0 #5a514f inset!important;
}

.header-menu.selected-tab a {
    box-shadow: -3px 1px 5px -1px #00000014,
    0 -4px 0 #9de044 inset!important;
    background: #d0dae080!important;
}

.selected-tab a {
    box-shadow: 0 -4px 0 #9de044 inset!important;
}

#main-menu {
    margin-top: 37px;
    padding: 15px 0;
}

#main-menu .header-menu:first-child {
    margin-right: 0;
}

.header-menu {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 10px;
    text-decoration: none;
}

.header-menu a {
    padding: 15px;
    color: #36495a;
    box-shadow: -3px 1px 5px -1px #00000014;
    background: #f1f1f152;
}

.header-menu a:hover {
    box-shadow: -3px 1px 5px -1px rgba(0,0,0,.1),
    0 -5px 0 #5b8db9 inset;
    text-decoration: none;
    background: #d0dae080;
}

.pages-back {
    float: right;
    padding: 20px 10px 20px 0;
}

.pages-forward {
    float: left;
    padding: 20px 0 20px 10px;
}

.pages-back,
.pages-forward {
    font-size: 18px;
    margin: 0!important;
}

.pages-back a,
.pages-forward a {
    text-decoration: none;
}

.inactive {
    background-color: #d0dae0!important;
}

.inactive:hover {
    background-color: #d0dae0!important;
}

.checkbox1 {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    box-shadow: #00000038 0 2px 4px 0 inset;
}

.checkbox1:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox1 input:checked ~ .checkmark {
    background-color: #3498db;
    box-shadow: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox1 input:checked ~ .checkmark:after {
    display: block;
}

.checkbox1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#warning {
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#warning_content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px 20px;
    width: 340px;
    text-align: center;
    font-size: 20px;
    height: 60px;
}

#close_warning {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

#close_warning:hover,
#close_warning:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.car-price span {
    margin: 0 2px;
}

.price-content {
    text-align: center;
    font-size: 15px;
    margin: auto;
    padding-top: 8px;
}

.car-price .old-price {
    text-decoration: line-through;
    color: #879298;
}

.car-price .new-price {
    color: #2684c3;
}

.car-price .price-block {
    padding: 5px 0;
}

#car-order .price,
.price-content .price {
    font-weight: 700;
    font-size: 30px;
}

.quick-order .car-price .old-price {
    font-size: 16px;
}

.quick-order .car-price .price {
    font-size: 24px;
}

.quick-order .car-price .price-content {
    font-size: 14px;
}

.quick-order .car-price {
    margin-bottom: -10px;
}

.quick-order #available-date {
    float: left;
}

#car-information .car-price {
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
    -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
    border-left: 10px solid;
    border-color: #9de044;
}

#car-information .car-price .old-price {
    font-size: 27px;
}

#car-content {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#recommended-cars {
    width: 1010px;
}

.recommended-car {
    width: 299px;
    text-align: center;
    border: 1px solid #d0dae06b;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0 #5d5d5d1a,
    0 6px 0 #5b8db9 inset;
    margin: 0 30px 30px 0;
    padding: 0 15px 10px 0;
    background-color: #cccccc24;
}

.recommended-car:hover {
    box-shadow: 1px 2px 9px 0 #316f7961,
    0 6px 0 #8bc63e inset;
    background-color: #cccccc52;
}

.recommended-car:last-child {
    margin-right: 0;
}

.recommended-car a {
    color: rgb(54, 73, 90);
}

.recommended-car img {
    padding-bottom: 5px;
    width: 250px;
}

.recommended-car h2 {
    font-weight: 300;
}

.recommended-car:hover h2 {
    color: #0100cc;
    text-decoration: underline;
}

#car-content .rent-car {
    border-top: 1px solid rgb(221, 221, 221);
    padding: 30px 0 10px;
}

.rent-car #phone {
    margin-top: 8px;
}

.rent-car div {
    width: 49%;
}

.rent-car p {
    margin: 0;
}

.rent-car input {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.rent-car button {
    width: 100%;
    height: 40px;
    font-size: 28px;
}

.rent-car .data-error {
    margin-top: 10px;
}

.rent-car .data-updated {
    margin-top: 10px;
    font-size: 16px;
}

#quick-order-modal.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

#quick-order-modal .modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 3px;
    margin: auto;
    width: 420px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#quick-order-modal .rent-car {
    padding: 30px;
    border-top: none;
}

#quick-order-modal .modal-header {
    border-radius: 3px 3px 0 0;
    padding: 5px 5px 5px 40px;
    background-color: #3498db;
    color: white;
}

#quick-order-modal .modal-footer {
    padding: 5px 20px;
    background-color: #3498db;
    color: white;
}

#quick-order-modal .close {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
    padding: 17px;
}

#quick-order-modal .close:hover,
#quick-order-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#car-order .rent-car {
    width: 450px;
    padding: 20px 0 20px 20px;
}

#car-order .car-title {
    font-size: 30px;
}

#car-order .car-price {
    width: 100%;
}

#car-order #customer-passport {
    padding: 20px 20px 20px 0;
}

#car-order .car-price {
    margin: 20px 0;
    text-align: center;
}

#car-order .customer-data {
    width: 60%;
}

#car-order #total-price p {
    margin: 0 0 20px 0;
    text-align: center;
}

#car-order #total-price {
    width: 100%;
}

#car-order #customer-passport .user-data-fields {
    width: 310px;
}

#car-order .car-title {
    text-align: center;
}

#car-order .rent-car input {
    margin-bottom: 8px;
}

#order-payment {
    padding: 0 40px;
}

#order-payment .order-payment-title {
    margin-left: 20px;
    margin-bottom: 10px;
}

#order-payment .bankcards {
    padding: 20px;
}

#order-payment .bankcard {
    padding: 0 0 0 15px;
}

#order-payment .select-card {
    display: flex;
    margin-right: 18px;
}

#order-payment .select-card input {
    margin: auto;
}

#order-payment #adding-bankcard {
    display: none;
    margin-top: 10px;
}

#order-payment .payment-buttons {
    margin-left: 20px;
}

#order-payment .payment-buttons button {
    padding: 10px 40px;
    font-size: 16px;
    margin-right: 10px;
}

#order-payment #adding-bankcard #front-side-bankcard {
    margin-left: 0;
}

#order-payment #use-linked-cards,
#order-payment #use-another-bankcard {
    cursor: pointer;
    text-decoration: underline;
}

#order-payment #use-linked-cards {
    display: none;
}

#order-payment .add-bankcard {
    display: none;
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
}

#passport-in-office ~ label,
#change-passport ~ label,
#order-payment label,
#add-bankcard ~ label {
    color: #828282;
    font-weight: 300;
    font-size: 16px;
}

.blocked-card {
    background: #f1f1f1;
    border: 1px solid #e0e0e0;
}

.blocked-card img {
    filter: grayscale(100%);
}

.blocked-card .bankcard-number p {
    color: #6f6f6f;
}

.passport-in-office {
    display: none;
}

.changeable-order .change-order-btn {
    padding: 0;
}

.changeable-order .change-order-btn button {
    font-size: 24px;
    background: none;
    color: inherit;
    font-weight: 200;
    display: none;
}

.changeable-order:hover button {
    display: block;
}

.selected-order {
    background-color: #e2ffe2!important;
}

#order-editing {
    padding: 10px 50px;
}

#order-editing .order-car-img img {
    width: 390px;
}

#order-editing textarea {
    width: 300px;
    height: 100px;
    resize: none;
}

#order-editing span {
    margin-right: 5px;
}

#order-editing button {
    padding: 10px;
    width: 300px;
}

#order-editing #change-order-form {
    height: 100%;
}

#order-editing .comment {
    height: 100px;
}

#postpaid-btn {
    font-weight: 400!important;
}