html {
    font-family: Helvetica,Arial,sans-serif;
    font-size: .75em;
    line-height: 18px;
}

body {
    font-size: 14px;
    background-color: #fff;
    color: #36495a;
    line-height: inherit;
    position: relative;
    margin: 0;
}

header {
    height: 115px;
    position: relative;
}

header .menu-utility {
    float: right;
}

.top {
    background: #d0dae0;
    height: 30px;
}

.user-info {
    float: right;
    padding: 5px;
}

.user-info a {
    margin: 0 15px 0 0;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

.header-button-left {
    left: 34%;
}

.header-button-middle {
    left: 51%;
}

.header-button-right {
    left: 75%;
}

.header-menu {
    margin: 50px 0 0 45px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #36495a;
    text-decoration: none;
}

.field {
    padding: 0 15px 0 15px;
    margin: 10px 0 10px 0;
}

.field p {
    margin: 5px 0 5px 0;
}

.field input {
    height: 30px;
}

.field select {
    height: 30px;
}

.menu {
    width: 100%;
}

.searching-form {
    max-width: 320px;
    min-height: 220px;
    border-width: 1px;
    border-color: rgb(190,190,190);
    border-style: solid;
    padding: 5px;
    background-color: white;
    position: absolute;
    margin: -20px 30px;
}

.searching-form input, .searching-form button {
    min-width: 105px;
    min-height: 30px;
}

.searching-form input {
    box-sizing: border-box;
}

.main {
    margin-top: 50px;
}

.main-content {
    min-height: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-text {
    position: absolute;
    max-width: 300px;
    line-height: normal;
    text-align: right;
    margin: 20px 0 0 680px;
}

.main-text p {
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

.main-image img {
    max-width: 100%;
}

.boxShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.boxShadow1 {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.rowing-left {
    float: left;
}

.rowing-right {
    float: right;
}

.rowing-center {
    margin-left: auto;
    margin-right: auto;
}

.login-form, .registration-form {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-width: 1px;
    border-color: rgb(190,190,190);
    border-style: solid;
    padding: 15px;
    margin-bottom: 20px;
}

.login-form input, .registration-form input {
    box-sizing: border-box;
    width: 300px;
    height: 35px;
    margin: 10px;
}

.registration-form h3, .registration-form p {
    margin: 10px;
}

.registration-form {
    text-align: center;
}

button {
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 3px;
    border-color: #2e94d8;
    background-color: #3498db;
    color: white;
    font-weight: 600;
}

.login-form button, .registration-form button {
    width: 300px;
    height: 35px;
    margin: 10px;
}

.login-block h1, .registration-block h1 {
    text-align: center;
}

#navigation #menu {
    position: relative;
}

.clear {
    clear:both;
}

footer {
    background-color: #d0dae0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul {
    padding-inline-start: inherit;
}

.footer-block {
    width: 200px;
}

.footer-info {
    height: 180px;
}

.footer-info a {
    line-height: 20px;
}

a {
    color: #00529c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.code404 {
    text-align: center;
}

.error-message {
    text-align: center;
    color: red;
}

#localization {
    display: inline-flex;
}

#localization form {
    padding-left: 5px;
}

#searching-form-title {
    font-size: 16px;
    font-weight: 600;
}

#user-logo {
    width: 100px;
    height: 100px;
    background-color: #90bf90;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-weight: 600;
    color: #e2ffe2;
    margin: 20px 30px 20px 0;
}

#user-data {
    margin: 20px 30px 20px 0;
}

#user-data h2 {
    margin: 0 0 20px 0;
}

#user-menu {
    margin: 20px 0 20px 60px;
    font-size: 16px;
}

.user-menu-tab {
    margin-right: 20px;
}

.user-menu-tab a {
    text-transform: uppercase;
    color: #36495a;
    text-decoration: none;
}

.info-login-block {
    text-align: center;
    margin: 40px;
}

.info-registration-block {
    text-align: center;
    margin: 40px;
}

.features {
    text-align: justify;
    margin: 20px 0;
}

.features:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}

.features:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.feature {
    display: inline-block;
    width: 300px;
}

.feature p {
    font-size: 16px;
}

.feature-title {
    height: 25px;
    line-height: 25px;
}

.feature-info {
    height: 90px;
}

#footer-add {
    height: 30px;
    margin-top: 10px;
}

.code404 {
    margin-left: auto;
    margin-right: auto;
    width: 590px;
}