html {
    font-family: Helvetica,Arial,sans-serif;
    font-size: .75em;
    line-height: 18px;
}

body {
    background-color: #fff;
    color: #36495a;
    line-height: inherit;
    position: relative;
    margin: 0;
}

header {
    height: 110px;
    position: relative;
}

header .menu-utility {
    float: right;
}

.top {
    background: #d0dae0;
    height: 30px;
}

.user-info {
    float: right;
    padding: 5px;
}

.user-info a {
    margin-left: 10px;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
}

.header-button-left {
    left: 34%;
}

.header-button-middle {
    left: 51%;
}

.header-button-right {
    left: 75%;
}

.header-menu {
    margin: 50px 0 0 50px;
    font-size: 16px;
}

.field {
    padding: 0 15px 0 15px;
    margin: 10px 0 10px 0;
}

.field p {
    margin: 5px 0 5px 0;
    font-size: 14px;
}

.field input {
    height: 30px;
}

.field select {
    height: 30px;
}

.menu {
    width: 100%;
}

.searching-form {
    max-width: 270px;
    height: 200px;
    border-width: 1px;
    border-color: rgb(190,190,190);
    border-style: solid;
    padding: 5px;
    background-color: white;
    position: absolute;
    margin: -20px 30px;
}

.searching-form .form-button {
    padding: 15px 20px 0 0;
}

.main {
    margin-top: 50px;
}

.main-content {
    min-height: 300px;
}

.main-text {
    position: absolute;
    max-width: 300px;
    line-height: normal;
    text-align: right;
    margin: 20px 0 0 680px;
}

.main-text p {
    font-size: xx-large;
    font-weight: 600;
    color: white;
}

.main-image img {
    max-width: 100%;
}

.boxShadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.boxShadow1 {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.rowing-left {
    float: left;
}

.rowing-right {
    float: right;
}

.rowing-center {
    margin-left: auto;
    margin-right: auto;
}

.login-form, .registration-form {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-width: 1px;
    border-color: rgb(190,190,190);
    border-style: solid;
    padding: 15px;
    margin-bottom: 20px;
}

.login-form input, .registration-form input {
    box-sizing: border-box;
    width: 300px;
    height: 35px;
    margin: 10px;
}

.login-block h1, .registration-block h1 {
    text-align: center;
}

#navigation #menu {
    position: relative;
}

.clear {
    clear:both;
}

.features {
    height: 180px;
    padding: 20px 0 20px 0;
}

.features div {
    width: 300px;
    padding: 15px;
}

.features-header {
    font-weight: bold;
}

.features p {
    font-size: 16px;
}

footer {
    background-color: #d0dae0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul {
    padding-inline-start: inherit;
}

.footer-block {
    width: 200px;
}

.footer-info {
    height: 180px;
}

.footer-info a {
    font-size: 1.25em;
    line-height: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.code404 {
    text-align: center;
}

.error-message {
    text-align: center;
    color: red;
}