<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="https://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Rent a car WEB project JWD</display-name>

  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>by.epamtc.tsalko.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/mainController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ExceptionHandler</servlet-name>
    <servlet-class>by.epamtc.tsalko.controller.ExceptionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionHandler</servlet-name>
    <url-pattern>/exception</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateOrderController</servlet-name>
    <servlet-class>by.epamtc.tsalko.controller.order_creation.CreateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderController</servlet-name>
    <url-pattern>/createOrder</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>by.epamtc.tsalko.controller.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>by.epamtc.tsalko.controller.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CreateNewUserDuringOrder</filter-name>
    <filter-class>by.epamtc.tsalko.controller.order_creation.CreateNewUserDuringOrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CreateNewUserDuringOrder</filter-name>
    <servlet-name>CreateOrderController</servlet-name>
  </filter-mapping>

  <filter>
    <filter-name>UpdatePassportDuringOrder</filter-name>
    <filter-class>by.epamtc.tsalko.controller.order_creation.UpdatePassportDuringOrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UpdatePassportDuringOrder</filter-name>
    <servlet-name>CreateOrderController</servlet-name>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/500.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception</location>
  </error-page>

  <jsp-config>
    <taglib>
      <taglib-uri>http://localhost:8080/CarRentalFinalProjectJWD/mytag</taglib-uri>
      <taglib-location>/WEB-INF/tld/mytags.tld</taglib-location>
    </taglib>
  </jsp-config>

</web-app>
